<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Insert Pokemon</title>
</head>
<body>

<h1>Adopt a Pokemon</h1>

<script>
    function getPokemon() {
        // prints the image associated with the pokemon id currently typed in the pokedexID field
        pokeID = document.getElementById("pokeID");
        
        //if not a valid pokemon, show the question mark pic
        if(pokeID.value <= 898 && pokeID.value > 0){
            pokeInCreatorDisplay = document.getElementById("pokeInCreatorDisplay");
            pokeInCreatorDisplay.src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/" + pokeID.value + ".png"

        }
        else{
            pokeInCreatorDisplay.src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png";            
        }
    }
</script>
<img id="pokeInCreatorDisplay" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png" />
<form method="post" action="/pokefarm/create">
    <input type="text" id="pokeID" oninput="getPokemon()" name="PokedexID" placeholder="Pokedex id" required autofocus>
    <input type="text" name="Name" placeholder="Name" required>
    <input type="submit">
</form>

</body>
</html>