<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Delete a Pokemon</title>
</head>
<body>

<h1>Delete a Pokemon</h1>
<form method="post" action="/pokefarm/delete">
    <input type="text" name="Uid" placeholder="Uid" required autofocus>
    <input type="submit">
</form>

</body>
</html>