<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <img class="header-image" src="/imgs/headerpokefarm.png" />
    <h1>Log in to access your PokeFarm!!</h1>   
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="username" required autofocus>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit">
    </form>
<p><b>{{.}}</b></p>
<h2><a href="/signup">Register an account</a></h2>
</body>
</html>

