<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>pokefarm</title>
</head>
<body>
<p class="link"><a href="/logout">Logout</a></p>
<p>Welcome to your PokeFarm, {{.CurrUser}}.<p>
<p>
{{range .Pkmns}}
    <a href="/pokefarm/read?uid={{.Uid}}" target="pokemonDetails" ><img class="pokesInPokefarm" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{.PokedexID}}.png"/></a>
{{end}}
</p>
<iframe name="pokemonDetails"
    title="pokemonDetails"
    width="500"
    height="100">
</iframe>

<p class="link"><a href="/pokefarm/create">Insert A Pokemon</a></p>
<p class="link"><a href="/pokefarm/delete">Delete A Pokemon</a></p>
<p class="link"><a href="/pokefarm/update">Update a pokemon</a></p>
</body>
</html>