<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Insert Pokemon</title>
</head>
<body>

<h1>Update a Pokemon</h1>
<form method="post" action="/pokefarm/update">
    <input type="text" name="Uid" placeholder="Uid" required autofocus>
    <input type="text" name="PokedexID" placeholder="PokedexID" required autofocus>
    <input type="text" name="Owner" placeholder="Owner" required >
    <input type="text" name="Name" placeholder="Name" required >
    <input type="text" name="Level" placeholder="Level" required>
    <input type="submit">
</form>

</body>
</html>